<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta content="initial-scale=1.0, user-scalable=no, maximum-scale=1" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Some Application</title>
    <link href="/css/icon.css" rel="stylesheet">
    <link href="/css/semantic.min.css" rel="stylesheet">
</head>

<body style="background: #f4f4f4; padding-top: 1em;"></body>

    <div id="application"></div>
    
    <script src="/js/app/main.js"></script>
    <script src="/js/app/manager.js"></script>

</html>